@model List<DevelopersBuddyProject.ViewModel.QuestionViewModel>
@{ 
    ViewBag.Title = "Home";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="p-5 bg-light">
                <h1>Learn, share, think!</h1>
                <h3>Each month.........jfbwjfbewj wnjn ck dkmwo kdmwkdm.</h3>
                <p class="lead">cknd cknk kckc join!</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table-striped">
                @foreach (var item in Model)
                {
                    Html.RenderPartial("Question", item);
                }
            </table>
            @if (Session["CurrentUserName"] != null)
            {
                <a href="/questions/create" class="btn btn-primary">Add Question</a>
            }
        </div>
    </div>
</div>
<script>
    $("a[href='/home/index']").attr("id", "active");
</script>